$primary_dark-color: #212226;
$secoundary_dark-color: #949688;
$highlighted_elements-color: #525259;
$primary_text-color: #ffffff;
$primary_light1-color: #f2e96b;
//$primary_light2-color: #e2f263;
$primary_light2-color: #aca000;
