@import "../../../../modules/common/styles/variables.scss";
@import "../../../../modules/common/styles/utilities.scss";

.intoduction-container {
  color: $primary_text-color;
  padding: 1rem;
}

.intoduction-container.head {
  @extend %text-stroke;
  text-align: center;
  padding-top: 5%;
  font-weight: 700;
}

.intoduction-container.text {
  @extend %text-stroke;
  font-weight: 700;
}
