@import "../../styles/variables.scss";

.navigation-button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: $highlighted_elements-color;
  transition: all 2s;
}

.navigation-button:hover {
  background-color: $primary_light2-color;
}
