@import "../../../../modules/common/styles/utilities.scss";
@import "../../../../modules/common/styles/variables.scss";

.primary-button {
  @extend %box-shadowes;
  @extend %text-stroke;
  height: 30px;
  padding-left: 0rem;
  padding-right: 0;
  background-color: transparent;
  margin-right: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  border: solid 1px $primary_button-color;
  color: $primary_text-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.title {
  @extend %text-stroke;
  padding-left: 1rem;
  z-index: 2;
}

.primary-button .arrow {
  margin-left: 1rem;
  background-color: $primary_button-color;
  height: 30px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.35s;
  z-index: 2;
}

.primary-button:after {
  position: absolute;
  content: "";
  width: 0;
  height: 32px;
  background: $primary_button-color;
  transition: all 0.35s;
}

.primary-button:hover .arrow {
  background-color: transparent;
  color: #fff;
}

.primary-button:hover:after {
  width: 85%;
}
