@import "../../../../modules/common/styles/utilities.scss";
@import "../../../../modules/common/styles/variables.scss";

.primary-button {
  //@extend %box-light-shadowes;
  height: 30px;
  padding-left: 0rem;
  padding-right: 0;
  background-color: transparent;
  margin-right: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  border: solid 1px $primary_light2-color;
  color: $primary_text-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 160px;
}

.title {
  z-index: 2;
  transition: all 2s;
  width: 135px;
  overflow: hidden;
  z-index: 1;
}

.primary-button .arrow {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 1rem;
  background-color: $primary_light2-color;
  height: 29px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.35s;
  z-index: 2;
  color: $primary_dark-color;
}

.primary-button:hover .arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 29px;
  overflow: hidden;
}
