@import "../../../../modules/common/styles/variables.scss";
@import "../../../../modules/common/styles/utilities.scss";

.panel {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-content {
  @extend %box-shadowes;
  border-radius: 15px;
  position: relative;
  border-radius: 16px;
  max-height: 85vh;
  width: 90%;
  overflow: hidden;
}

.panel-content-text {
  position: absolute;
  inset: 1em;
  display: flex;
  flex-direction: column;
  width: 50%;
}
